{# observer input data table and java scripts #}

<style>

.observerbox {
    margin:   2px;
    border:   1px solid navy;
    padding: 10px;
}

table#observer_location {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

/* ----------------------- */
/* ----- date picker ----- */
/* ----------------------- */

.ui-datepicker {

    background: #f7f7f7;
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);

}

.ui-datepicker-header {
    color: #e0e0e0;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0px #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;

}

.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}
.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

</style>

<script type="text/javascript">

  $(function() {

    {# ----- set date ----- #}

    $( "#_date" ).datepicker({ dateFormat: $.datepicker.ISO_8601 });

    {# ----- set location ----- #}

    $("#set_location").click(function(e) {
      {# aai.js uses document.getElementById #}
      aai.setLocation("_latitude", "_longitude", "_timezone", e);
    });


    {# ----- set time ----- #}

    $("#set_time").click(function(e) {

      var now = new Date();

      var month_str = String(parseFloat(now.getMonth()) + 1);
      var date_str  = String(parseFloat(now.getDate()));

      var date_str = now.getFullYear() + "-" + month_str.padStart(2, "0") + "-" + date_str.padStart(2, "0");
      $("#_date").val(date_str);

      var hour_str = String(now.getHours());
      var min_str = String(now.getMinutes());
      var sec_str = String(now.getSeconds());

      var time_str = hour_str.padStart(2, "0") + ":" + min_str.padStart(2, "0") + ":" + sec_str.padStart(2, "0");
      $("#_time").val(time_str);

    });

    {# ----- set timezone from longitude ----- #}

    $("#_longitude").change(function() {
      var timezone = Math.floor((parseFloat($("#_longitude").val()) + 7.5) / 15.0);

      {# TODO partial time zones #}

      var abstz = Math.abs(timezone);
      var tzsign = "+";
      if (timezone < 0) {
        tzsign = "-";
      }

      $("#_timezone").val(tzsign + abstz.toString().padStart(2, "0") + "00");

    });


    $("#show_help").click(function(e) {

	var help_message = [
	    "Degrees, and optional minutes and seconds are accepted as a ",
	    "time format with : between each element, e.g. 37:47:30 instead ",
	    "of 37\u00b0 47\u2032 30\u2033 for San Francisco's latitude. ",
	    "The timezone, in hours, is estimated from the longitude, but ",
	    "should be adjusted as needed."].join("");

	alert(help_message);

    });



  }); {# end jquery init function #}

</script>

<div class="observerbox">


  <h2 align="center">Observer's Location</h2>

  <br>

  <table id="observer_location">

    <tr>

      <td></td>

      <th>Observer</th>

      <td>
	<input type="text" id="_observer" name="observer">
      </td>

      <td></td>

    </tr>

    <tr>

      <td>
	<button type="button" id="set_location">Current Location</button>
      </td>

      <th>Latitude</th>

      <td>
	<input type="text" id="_latitude" name="latitude">
      </td>

      <td>deg[:min[:sec]]</td>

    </tr>

    <tr>

      <td></td>

      <th>Longitude</th>

      <td>
	<input type="text" id="_longitude" name="longitude">
      </td>

      <td>deg[:min[:sec]]</td>

    </tr>

    <tr>
      <td></td>

      <th>Date</th>

      <td>
	<input type="text" id="_date" name="date"> {# id needed for date picker, name for form #}
      </td>
      <td>year-mm-dd</td>
    </tr>

    <tr>

      <td>
	<button type="button" id="set_time">Current Time</button>
      </td>

      <th>Local Time</th>
      <td><input type="text" id="_time" name="time" value="12:00"></td>
      <td>hr[:min[:sec]]</td>
    </tr>

    <tr>
      <td></td>

      <th>Time Zone</th>
      <td>
	<input type="text" id="_timezone" name="timezone" value="+0000">
      </td>
      <td>hhmm</td>

    </tr>

    <tr>

      <td>
	<button type="button" id="show_help">Help</button>
      </td>

      <th>Daylight Savings</th>

      <td>
	<input type="checkbox" id="_dst" name="dst">
      </td>
    </tr>

  </table>

</div>
