{% extends "base.html" %}

{% block title %}Record Observation{% endblock %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    {# ----------------- #}
    {# ----- ready ----- #}
    {# ----------------- #}

    $(document).ready(function() {

      $('label[for="observer_id"]').html("{{ current_user.username }}")


      {# ----- toggle radec coords ----- #}

      $("#radec_button").click(function(e) {
	$("#radec_coords").show();
	$("#azalt_coords").hide();
      }); {# end radec_button click #}


      {# ----- toggle azalt coords ----- #}

      $("#azalt_button").click(function(e) {
	$("#azalt_coords").show();
	$("#radec_coords").hide();
      }); {# end azalt_button click #}


      {# ----- record observation ----- #}

      {# TODO data cleanup, convert lat, long ::: to decimal from aai api, dont add blanks, db require fields? have api return error? #}

      $("#record_observation").click(function(e) {

	var observation = JSON.stringify(
	  {
	    "observer": "{{ current_user.username }}",
	    "latitude": $('input[name="latitude"]').val(),
	    "longitude": $('input[name="longitude"]').val(),
	    "date": $('input[name="date"]').val(),
	    "time": $('input[name="time"]').val(),
	    "timezone": $('input[name="timezone"]').val(),
	    "dst": $("#_dst").is(':checked'), {# jQuery selector #}

	    "target": $('input[name="Target"]').val(),

	    {# TODO convert from az alt if needed #}

	    "ra": $('input[name="RightAscension"]').val(),
	    "dec": $('input[name="Declination"]').val(),

	    {# TODO include photos #}

	    "notes": $('textarea[name="Notes"]').val()

	  });

	$.post($SCRIPT_ROOT + "/api/v1/record_observation", observation,
	  function(record_result) {

	    if ("error" in record_result) {
	      alert("Error: " + record_result.error);
	    } else {

	      {# TODO clear az alt for next #}

	      $('input[name="RightAscension"]').val("")
	      $('input[name="Declination"]').val("")
	      $('textarea[name="Notes"]').val("")
	    };

	  }); {# end post #}


	return false;

      }); {# end record observation click #}


    }); {# end ready method #}


  </script>

{% endblock %}


{% block content %}

<style>


button#record_observation {

    text-align: center;

    font-size: 100%;
    font-weight: bold;

    margin: 0 auto;
    display: block;

    width: 600px;
    height: 50px;

    color:yellow;
    background: #229922;
}

</style>


<h1>Record Observation</h1>

<br>

{% include "observer_location.html" %}

<br>


<br>
<div class="targetbox">

  <table id="targets_direction">

    <tr>
      <th>
	Target Name
      </th>

      <td>
	<input type="text" id="_target" name="Target" >
      </td>

      <td></td>

      <th>
	Coordinates
      </th>

      <td>
	<input type="radio" name="observer_coords" value="radec" id="radec_button" checked>RA/dec
	<input type="radio" name="observer_coords" value="azalt" id="azalt_button">Az/Alt
      </td>

    </tr>



    <tr id="radec_coords" >
      <th>
	<a href="https://en.wikipedia.org/wiki/Right_ascension">RA</a>
      </th>

      <td>
	<input type="text" id="_right_ascension" name="RightAscension">
      </td>

      <td>hr[:min[:sec]]</td>

      <th>
	<a href="https://en.wikipedia.org/wiki/Declination">Declination</a>
      </th>

      <td>
	<input type="text" id="_declination" name="Declination">
      </td>

      <td>deg[:min[:sec]]</td>

    </tr>



    <tr id="azalt_coords" style="display: none;">

      <th>
	<a href="https://en.wikipedia.org/wiki/Azimuth">Azimuth</a>
      </th>

      <td>
	<input type="text" id="_azimuth" name="Azimuth">
      </td>

      <td>deg[:min[:sec]]</td>

      <th>
	<a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">Altitude</a>
      </th>

      <td>
	<input type="text" id="_altitude" name="Altitude">
      </td>

      <td>deg[:min[:sec]]</td>

    </tr>


    <tr>
      <th>
	Notes
      </th>

      <td colspan="5">
	<textarea rows="8" cols="90" id="_notes" name="Notes"></textarea>
      </td>

    </tr>


    <tr>
      <th></th>
      <td colspan="5">
	<button id="record_observation">Record Observation</button>
      </td>
    </tr>


  </table>

</div>

{% endblock %}
