{% extends "base.html" %}

{% block title %}Record Observation{% endblock %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    {# ----------------- #}
    {# ----- ready ----- #}
    {# ----------------- #}

    $(document).ready(function() {

      $('label[for="observer_id"]').html("{{ current_user.username }}") {# TODO label not input #}

      {# ----- record observation ----- #}

      {# TODO dont add blanks, db require fields? have api return error? #}

      $("#record_observation").click(function(e) {

	var observation = JSON.stringify(
	  {
	    "observer": "{{ current_user.username }}",
	    "latitude": $('input[name="latitude"]').val(),
	    "longitude": $('input[name="longitude"]').val(),
	    "date": $('input[name="date"]').val(),
	    "time": $('input[name="time"]').val(),
	    "timezone": $('input[name="timezone"]').val(),
	    "dst": $("#_dst").is(':checked'), {# jQuery selector #}

	    "target": $('input[name="Target"]').val(),

            {# TODO convert from az alt if needed #}

	    "ra": $('input[name="RightAscension"]').val(),
	    "dec": $('input[name="Declination"]').val(),

            {# TODO include photos #}

	    "notes": $('textarea[name="Notes"]').val()

	  });

	$.post($SCRIPT_ROOT + "/api/v1/record_observation", observation,
	  function(record_result) {

	    if ("error" in record_result) {
	      alert("Error: " + record_result.error);
	    } else {

	      {# TODO clear az alt for next #}

	      $('input[name="RightAscension"]').val("")
	      $('input[name="Declination"]').val("")
	      $('textarea[name="Notes"]').val("")
	    };

	  }); {# end post #}


	return false;

      }); {# end record observation click #}







    }); {# end ready method #}


  </script>

{% endblock %}


{% block content %}

<style>


button#record_observation {

    text-align: center;

    font-size: 100%;
    font-weight: bold;

    margin: 0 auto;
    display: block;

    width: 600px;
    height: 50px;

    border-radius: 15%;

    color:yellow;
    background: #229922;
}

</style>


<h1>Record Observation</h1>

<br>

{% include "observer_location.html" %}

<br>


<br>
<div class="targetbox">

  <table id="targets_direction">

    <tr>
      <th>
	Target
      <th>
    </tr>

    <tr>
      <th>
	Name
      </th>

      <td>
	<input type="text" id="_target" name="Target">
      </td>

      <td colspan="2">Jupiter, Saturn et al.</td>

    </tr>

    <tr>
      <th>
	Coordinates
      <th>
    </tr>

    <tr>
      <td colspan="2">
	<a href="https://en.wikipedia.org/wiki/Equatorial_coordinate_system">Equatorial Coordinates</a>
      </td>



      <td>RA/dec radio button</td>
      <td>Az/Alt radio button</td>


      <td colspan="2">
	<a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">Horizontal Coordinates</a>
      </td>


    </tr>



    <tr id="radec_coords" >
      <th>
	<a href="https://en.wikipedia.org/wiki/Right_ascension">Right Ascension</a>
      </th>

      <td>
	<input type="text" id="_right_ascension" name="RightAscension">
      </td>

      <td>hour[:min[:sec]]</td>

      <th>
	<a href="https://en.wikipedia.org/wiki/Declination">Declination</a>
      </th>

      <td>
	<input type="text" id="_declination" name="Declination">
      </td>

      <td>deg[:min[:sec]]</td>

    </tr>



    <tr id="azalt_coords" >

      <th>
	Azimuth
      </th>

      <td>
	<input type="text" id="_azimuth" name="Azimuth">
      </td>

      <td>deg[:min[:sec]]</td>

      <th>
	Altitude
      </th>

      <td>
	<input type="text" id="_altitude" name="Altitude">
      </td>

      <td>deg[:min[:sec]]</td>

    </tr>

    <tr>
      <th>
	Notes
      </th>

      <td colspan="6">
	<textarea rows="4" cols="90" id="_notes" name="Notes"></textarea>
      </td>

    </tr>

    <tr>
      <td colspan="7">
	<button id="record_observation">Record Observation</button>
      </td>
    </tr>

  </table>

</div>

{% endblock %}
