{% extends "base.html" %}

{% block title %}Starbug Database Login{% endblock %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    function authenticate() {

      var login_creds = JSON.stringify(
         {"username": $('input[name="username"]').val(),
	  "password": $('input[name="password"]').val(),
	});

      $.post($SCRIPT_ROOT + "/login", login_creds,

	function(data) {

          window.location.assign(data);

      }); {# end getJSON #}

    }; {# end authenticate #}

    {# ----------------- #}
    {# ----- ready ----- #}
    {# ----------------- #}

    $(document).ready(function() {

      {# ----- login button ----- #}

      $("#authenticate_login").click(function(e) {

	authenticate();
	return false;

      }); {# end record observation click #}


    }); {# end ready method #}

    {# ----- entry key ----- #}
    $(document).keypress(function(e) {
    var keycode = (e.keyCode ? e.keyCode : e.which);
      if (keycode == '13') {
	authenticate();
      }

    }); {# end entry key #}


  </script>

{% endblock %}


{% block content %}

<h1 align="center">Login to the Starbug Mongo Database</h1>

<div class="loginbox">

  <br>

  <table id="login_credentials" align="center">

    <tr>
      <th>
	Username
      </th>

      <td>
	<input type="text" id="_username" name="username">
      </td>

    </tr>

    <tr>
      <th>
	Password
      </th>

      <td>
	<input type="password" id="_password" name="password">
      </td>

    </tr>

    <tr></tr>

  </table>

</div>

<div class="container">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</div>

{% endblock %}
