# base line sbdb flask config
# https://flask-pymongo.readthedocs.io/en/latest/
# not quite ConfigParser format. flask doesn't like sections, e.g. [flask], configparser expects them

SECRET_KEY = 'seti2020'

# outside continer
# MONGO_URI = 'mongodb://localhost:27017/starbug'

# inside container, TODO hardcoded name. set from observations_ui.py command line args
MONGO_URI = 'mongodb://starbugdb-00/starbug'

MONGO_DBNAME = 'starbug'
MONGO_USERNAME = 'starbug'
MONGO_PASSWORD = 'changeme3' # TODO ugh! from cla?
MONGO_CONNECT = False

DEBUG=True
