<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='aai.js') }}"></script>

  {% block scripts %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>


  {% endblock %}
</head>

<body>
  <div class=page>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      <br>
      <a href="{{ url_for('home') }}">home</a>
      {% endblock %}
    </div>
  </div>
</body>

</html>
